*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    font-family: "Inter", sans-serif;
    color: #303030;
}
.header{
    width: 100%;
    height: 70px;
    background: #2965f1;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 23px 0;
}
.preview {
    width: 1440px;
    min-height: 1024px;
    background: #fafaff;
    padding: 60px 0;
}
.fio{
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}
.text{
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}
img{
    max-width: 715px;
}
.main{
    background-color: #fff;
    padding: 100px 0;
}
.list{
    width: 150px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding: 8px 0;
    background: url(./assets/Vector.png) no-repeat right 10px  bottom 10px;
    appearance: none;
}
.title{
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}
.list-item1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    padding-left: 20px;
    list-style-image: url(./assets/vectorsmall.png);
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}
.list-item2{
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding-left: 20px;
}
.info{
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}
.skill{
    width: 330px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    padding: 8px 0;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
}
.btn{
    width: 125px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #2965f1;
    border-radius: 5px;
}
.line{
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin: 60px 0;
}
.table{
    font-weight: 700;
    font-size: 14px;
    color: #303030;
    border: 1px solid #95a1bb;
    border-collapse: collapse;
}
.cell{
    padding: 12px 0;
    border: 1px solid #95a1bb;
    width: 100px;

}
.footer{
    width: 1440px;
    height: 70px;
    background: rgba(163, 167, 255, 0.3);
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    padding: 26px 0;
}